ion-card {
  margin: 20px;
}

ion-item {
  margin-bottom: 15px;
}

ion-button {
  margin-top: 15px;
}
ion-content {
  --background: url('../../assets/images/backgroundLoginImage.jpg')0 0/100% 100% no-repeat;
  background-position: center center;
  background-size:cover;
  background-repeat: no-repeat;
  height: auto;
  }
