ion-card.register-card {
  background-color: #1b1b1b;
  border-radius: 20px;
  padding: 1px;
}

ion-item {
  margin-bottom: 15px;
  --border-radius: 20px;
}

ion-input {
  --border-radius: 20px;
}

ion-button.register-button {
  background-color: #4caf50;
  color: #fff;
  border-radius: 20px;
  margin-top: 15px;
}

.image-container {
  text-align: center;
  margin-bottom: 10px;
}

img {
  max-width: 100%;
}

#backIcon {
  color: gold;
}

